header{
background-color: #1F2937;
color: white;
padding: 20px 100px;
display: flex;
flex-direction: column;
}

.top-row{
display:flex;
align-items: center;
margin-bottom: 80px;
justify-content: space-between;
}

.logo{
font-size: 24px;
color: #F9FAF8;
}

nav ul{
display:flex;
gap: 24px;
list-style: none;
padding: 0;
margin: 0;
}

nav a{
text-decoration: none;
color: #E5E7EB;
}

.hero-content{
display: flex;
gap: 40px;
justify-content: space-between;
align-items: center;
}
h1 {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    margin: 0;
}

p {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    background-color: #3882F6;
    color: white;
    border: none;
    padding: 8px 24px;
    border-radius: 8px;
    font-weight: bold;
}


.middle-content{
display:flex;
flex-direction: column;
align-items: center;
gap: 16px;
}

.middle-pics{
display:flex;
justify-content: center;
gap: 48px;
}

.blue-border{
border: 5px solid lightblue;
border-radius: 10px;
}

.card{
flex-basis: 250px;
flex-grow: 1;
text-align: center;
}
.card p {
    font-size: 1rem;
    color: #555;
    margin-top: 10px;
}

.quote-section{
background: #e5e7eb;
padding: 80px;
}

.quote-text{
color: black;
font-size: 32px;
text-align: center;
margin: 0;
font-style: italic;
}

.quote-attribute{
text-align: end;
font-size: 20px;
margin-top: 15px;
font-weight: bold;
color:black;
}

.page-ending{
display:flex;
background-color: #3882F6;
color: white;
padding: 40px 100px;
justify-content: space-between;
align-items: center;
margin: 40px 100px;
border-radius: 8px;
}


.sign-up{
background-color: transparent;
color: white;
border: 2px solid white;
padding: 8px 24px;
border-radius: 8px;
font-weight: bold;
}

.ending-text p {
  margin: 0;
}

.ending-text p:first-child {
  font-size: 24px;
  font-weight: bold;
}

.ending-text p:last-child {
  font-size: 18px;
  opacity: 0.8;
}

